
Descendent_Weighting/sim_1.npy
Descendent_Weighting/sim2_0.npy
Descendent_Weighting/sim2_1.npy
Descendent_Weighting/sim2_2.npy
Descendent_Weighting/sim2_3.npy
Descendent_Weighting/sim2_4.npy
Descendent_Weighting/sim2_5.npy
Descendent_Weighting/sim2/sim2_0.npy
Descendent_Weighting/sim2/sim2_1.npy
Descendent_Weighting/sim2/sim2_2.npy
Descendent_Weighting/sim2/sim2_3.npy
Descendent_Weighting/sim2/sim2_4.npy
Descendent_Weighting/sim2/sim2_5.npy
Descendent_Weighting/sim2/sim2_6.npy
